#Welcome{
    text-align:center;
    color:purple;
}
#Calendar{
    text-align: center
}
#Information{
    text-align: center
}
#Videos{
    text-align: center;
}
#Contact{
    text-align: center;
    color:gold;
}